<footer class="border-top footer text-muted d-print-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <LocalizedText Key="@Localizations.Footer.Copyright"
                               Arguments="[DateTime.Now.Year]">
                    Copyright © @DateTime.Now.Year. All Rights Reserved.
                </LocalizedText>
            </div>
        </div>
    </div>
</footer>
